* {
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;
}

body {
    font-size: 1.6rem !important;
    font-family: "Poppins", sans-serif !important;
}

/* Common */
.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    min-width: 144px;
    padding: 14px;
    border-radius: 24.5px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2 {
    --line-clamp: 2;
}
:root {
    --primary-color: #ffb900;
}
.header {
    background: #fffcf4;
}
.fixed {
    position: sticky;
    top: -28px;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.header .nav ul {
    position: relative;
    display: flex;
    text-align: center;
}
.nav li a {
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5f5b53;
}
.nav li a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}
.nav li.active a::after {
    position: absolute;
    content: "";
    display: block;
    left: 21px;
    bottom: -6px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}
.nav .active-btn {
    margin-left: 49px;
    font-size: 1.6rem;
    color: #fff;
    background: #171100;
    padding: 14px;
}
.hero {
    padding-top: 65px;
    background: #fffcf4;
}
.super-hero {
    display: flex;
}
.hero-img {
    position: relative;
    display: flex;
}
.hero-img .img-hero {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}
.info-hero {
    position: absolute;
    content: "";
    padding: 17px 32px 17px 23px;
    background: #fff;
    border-radius: 12px;
    left: 300px;
    bottom: 113px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}
.info-hero .info {
    display: flex;
    align-items: center;
}
.info-hero .info .text-info {
    margin-left: 16px;
    padding: 11px;
}

.info-hero .info p {
    color: #5f5b53;
    font-size: 1.4rem;
}
.info-hero .info h3 {
    margin-top: 10px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.super-hero .text-hero {
    padding: 65px 0 128px 230px;
}
.super-hero .text-hero .h1-content {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6.8rem; /* 117.241% */
    letter-spacing: -0.116rem;
}

.super-hero .text-hero .p-content {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}
.text-hero .btn-hero {
    margin-top: 38px;
    display: flex;
    align-items: center;
}
.text-hero .btn-hero .text-btn {
    border-radius: 32px;
    text-align: center;
    background: var(--primary-color);
    min-width: 180px;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 17px;
}
.text-hero .btn-hero img {
    margin-left: 28px;
    padding: 14px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}
.text-hero .btn-hero p {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}
.text-hero .hero-infor {
    margin-top: 48px;
    color: #5f5b53;
    font-size: 1.8rem;
}
.text-hero .infor-data {
    display: flex;
    align-items: center;
}
.text-hero .infor-data .infor {
    display: flex;
}
.text-hero .infor {
    align-items: baseline;
    margin-top: 22px;
}
.text-hero .infor .count {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 5.4rem;
}
.text-hero .infor .label {
    margin-left: 20px;
    color: #5f5b53;
    font-size: 1.8rem;
}
.text-hero .infor1 {
    margin-left: 28px;
}
.popular {
    padding: 200px;
}
.popular .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular .content .content-left .h2-popular {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 4.8rem; /* 126.316% */
    letter-spacing: -0.076rem;
}
.popular .content .content-left .p-popular {
    margin-top: 16px;
    max-width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}
.popular .content .icon {
    display: flex;
    gap: 18px;
}
.popular .content .icon .icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
}
.popular .content .icon .icon-btn:hover {
    color: #fff;
    background: var(--primary-color);
}
.popular .list-info {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}
.popular .list-info .info {
    flex: 1;
    max-width: 370px;
    border-radius: 12px;
    border: 1px solid #e2dfda;
}
.popular .list-info .info:hover {
    border-color: transparent;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}
.popular .list-info .info .img-info {
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    margin: -1px;
    border-radius: 12px 12px 0 0;
}

.popular .list-info .info .text-info {
    padding: 16px 22px 22px;
}
.popular .list-info .info .text-info .name-info {
    display: flex;
    justify-content: space-between;
}
.popular .list-info .info .text-info .name-info .title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}
.popular .list-info .eval {
    display: flex;
    align-items: center;
    gap: 6px;
}
.popular .list-info .eval p {
    color: var(--primary-color);
}
.popular .list-info .info .text-info .desc {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 2.6rem;
}
.popular .list-info .info .text-info .price-info {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .list-info .info .text-info .price-info .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}
.popular .list-info .info .text-info .price-info .price-btn {
    border-radius: 25px;
    background: #171100;
    max-width: 118px;
}

.popular .list-info .info .text-info .price-info .price-btn:hover {
    background: var(--primary-color);
}
.popular .list-info .info .text-info .price-info .price-btn.active {
    background: var(--primary-color);
}
.feedback {
    background: #2e2100;
}
.feedback .content {
    padding: 96px 0;
    display: flex;
    justify-content: space-between;
    background: #2e2100;
}
.feedback .content .profile img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}
.feedback .content .profile .user-name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.4rem;
}
.feedback .content .profile .job {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
}
.feedback .content .desc {
    position: relative;
}
.feedback .content .desc .desc-text {
    max-width: 740px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 4rem;
}
.feedback .content .desc .desc-img {
    position: absolute;
    top: -20px;
    left: -30px;
}
.feedback .dots {
    display: flex;
    margin-top: 28px;
    gap: 6px;
}

.feedback .dots .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}
.feedback .dot.active {
    background: #ffb900;
}
